{{#partial "styles"}}
    <link rel='stylesheet' href='/css/style.css' type="text/css">
{{/partial}}
{{#partial "content"}}
    <div class="container row">
        <div class="col-md-12">
            <h2>CREATE YOUR HERO!!</h2>
        </div>
    </div>
    <form action="/herohub" method="post" >
        <div class="form-group">
            <label for="HeroName">Name your Hero</label>
            <input id="heroName" name="heroName" class="form-control" type="text" placeholder="Enter HeroName">
        </div>
        <div class="form-group">
            <label for="Special_Power">State ability</label>
            <input id="power" name="power" class="form-control" type="text" placeholder="State Special Power">
        </div>
        <div class="form-group">
            <label for="flaw">State Weakness</label>
            <input id="flaw" name="flaw" class="form-control" type="text" placeholder="State Weakness">
        </div>
        <div class="form-group">
            <label for="Age">State Hero's Age</label>
            <input id="age" name="age" class="form-control" type="number" placeholder="Enter Hero's Age">
        </div>
        <button type="submit" class="btn btn-danger">Generate Hero</button>
    </form>
{{/partial}}

{{>layout.hbs}}