{{#partial "styles"}}
    <link rel='stylesheet' href='/css/Style.css' type="text/css">
{{/partial}}
{{#partial "content"}}
    <div class="container row">
        <div class="col-md-12">
            <h2>CREATE YOUR HEROSQUAD!!</h2>
        </div>
    </div>
    <form action="/squadhub" method="post">
        <div class="form-group">
            <label for="SquadName">Name your Squad</label>
            <input id="squadName" name="squadName" class="form-control" type="text" placeholder="Enter SquadName">
        </div>
        <div class="form-group">
            <label for="Mission_Control">Set Mission</label>
            <input id="mission" name="mission" class="form-control" type="text" placeholder="Set Mission">
        </div>
        <div class="form-group">
            <label for="Squad_Size">Number of hero's</label>
            <input id="size" name="size" class="form-control" type="number" placeholder="Enter Number of hero's">
        </div>
        <button type="submit" class="btn btn-danger">Generate Squad</button>
    </form>
{{/partial}}

{{>layout.hbs}}