{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                SquadName: Marvel
                Mission_Control: Protect Earth
                Squad_Size: 22
                <img src="/Images/bkg5.jpg">
            </div>
            <div class="col-md-6">
                SquadName: Avengers
                Mission_Control: Peace Mission to earth
                Squad_Size: 15
                <img src="/Images/bkg4.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#each SquadHeroes}}
                    SquadName: {{ SquadName }}
                    Mission_Control: {{ Mission_Control }}
                    Squad_Size: {{ Squad_Size }}
                {{/each}}
            </div>
        </div>
        <h2><a href='/squadForm'>Create new HeroSquad</a></h2>
    </div>
{{/partial}}

{{> layout.hbs }}