{{#partial "content"}}
    <div class="container row">
        <div class="col-md-12">
            <img src="/Images/bkg5.jpg">
        </div>
    </div>
    <form action="/squadhub" method="post">
        <div class="form-group">
            <label for="SquadName">Name your Squad</label>
            <input id="SquadName" name="SquadName" class="form-control" type="text" placeholder="Enter SquadName">
        </div>
        <div class="form-group">
            <label for="Mission_Control">Set Mission</label>
            <input id="Mission_Control" name="Mission_Control" class="form-control" type="text" placeholder="Set Mission">
        </div>
        <div class="form-group">
            <label for="Squad_Size">Number of hero's</label>
            <input id="Squad_Size" name="Squad_Size" class="form-control" type="number" placeholder="Enter Number of hero's">
        </div>
        <button type="submit" class="btn">Generate Squad</button>
    </form>
{{/partial}}

{{>layout.hbs}}